# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env
app.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
