# [START django_app]
runtime: python311

entrypoint: gunicorn -b :$PORT sqlapi.wsgi:application

instance_class: F2

env_variables:
  DJANGO_SETTINGS_MODULE: "sqlapi.settings"
  SECRET_KEY: "YOUR_SECRET_KEY_HERE"
  DEBUG: "false"
  DB_NAME: "YOUR_DB_NAME"
  DB_USER: "YOUR_DB_USER"
  DB_PASSWORD: "YOUR_DB_PASSWORD"
  DB_HOST: "YOUR_DB_HOST"
  DB_PORT: "3306"

handlers:
  - url: /static
    static_dir: static/

  - url: /.*
    script: auto
# [END django_app]